* {
  background-color: azure;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: auto;
  align-items: center;
}

header {
  display: flex;
  padding-top: 20px;
  width: 80%;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links {
  display: flex;
}
.logo-container {
  flex: 1;
}

h4 {
  font-weight: 900;
}

.logo {
  font-size: 20px;
  padding-top: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  flex: 1;
  cursor: pointer;
}

.logo-graphic {
  padding-top: 5px;
  cursor: pointer;
}

nav {
  flex: 1;
}

.nav-links {
  color: rgb(122, 2, 126);
  justify-content: space-around;
  list-style: none;
}
.nav-link:hover {
  color: #40e0d0;
}

.nav-link {
  text-decoration: none;
}

.cta {
  border: none;
  color: white;
  background: #40e0d0;
  width: 125px;
  height: 35px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
}

.cta:hover {
  border: 3px solid #40e0d0;
  background: transparent;
  color: turquoise;
}

.introduction {
  display: flex;
  padding-top: 100px;
  width: 80%;
  margin: auto;
  align-items: center;
  flex-flow: row;
}

.section-container {
  display: flex;
  flex-direction: row;
}

.section-container > .banner {
  flex: 1;
  text-align: right;
}
.banner > .animated {
  vertical-align: top;
  max-width: 100%;
  max-height: 350px;
}
.section-container > .intro {
  flex: 2;
  margin: auto;
}
